.todo-cards-container {
  width: 100%;
  position: relative;
}

.todo-card {
  margin-bottom: 10px;
}

.search-card {
  margin-bottom: 10px;
}

.mat-radio-button {
  margin: 0 12px;
}

.input {
color: maroon;
}
.todo-nav-list {
color: maroon;
}
.h1{
color: maroon;
}
.h3 {
color: maroon;
}

.todo-list-owner {
color: maroon;
}
.todo-list-category {
  color: maroon;
  }
.todo-list-status {
  color: maroon;
  }

.todo-list-body {
  color: maroon;
  }

